# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Node JS
        uses: actions/setup-node@v2-beta
        with:
          node-verison: 17

      - name: Install node Modules
        run: npm install

      - name: Download Yarn package manager
        run: curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list

      - name: Install Yarn package manager
        run: sudo apt update && sudo apt install yarn

      - name: Build of the App
        run: yarn build
      - name: Install Surge
        run: yarn global add surge

      - name: Deployment to Surge
        run: surge ./build bootcamp2020-proj-03-bizztechs.surge.sh --token ${{secrets.SURGE_TOKEN}}
